@import "../../node_modules/@glidejs/glide/src/assets/sass/glide.core.scss";
@import "../../node_modules/@glidejs/glide/src/assets/sass/glide.theme.scss";


.kGboHB img, .kGboHB ul, .kGboHB li {
	padding: 0;
	margin: 0;
	box-shadow: none;
	border: none;
	text-decoration: none;
	list-style: none;
}

.kGboHB .container {
	max-width: 1168px;
	padding: 0 16px;
	margin: 0 auto;
}

.kGboHB ul{
	padding:0;
	margin:0;
	list-style:none;
	overflow:hidden;
}

.kGboHB ul li{
	width:25%;
	float:left;
}

.kGboHB{
	padding: calc(30px + (120 - 30) * ((100vw - 300px) / (1600 - 300)));
	background:url(images/testimonials-bg.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
}

.kGboHB:before{
	content: "";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background: var(--bgcolora);
}

.kGboHB .testimonial-box{
	text-align:center;
	margin:0 0 20px;
}

.kGboHB .testimonial-box .testimonial-content:before{
	content: "";
	display:block;
	width:46px;
	height:30px;
	background-image:url("data:image/svg+xml;utf8,<svg version='1.0' xmlns='http://www.w3.org/2000/svg' width='45.000000pt' height='36.000000pt' viewBox='0 0 115.000000 76.000000' preserveAspectRatio='xMidYMid meet'><g transform='translate(0.000000,76.000000) scale(0.100000,-0.100000)' fill='%23ffffff' stroke='none'> <path d='M325 742 c-83 -36 -127 -64 -183 -120 -164 -162 -189 -404 -56 -535 57 -57 107 -79 175 -79 98 0 174 61 186 150 16 118 -80 196 -204 167 -51 -12 -60 -12 -75 2 -25 23 -24 124 2 180 24 53 97 126 167 165 45 25 53 34 53 59 0 33 -9 35 -65 11z'/><path d='M982 720 c-182 -86 -297 -275 -279 -457 24 -238 302 -350 421 -170 24 36 27 50 24 100 -4 50 -9 63 -40 93 -45 45 -91 56 -165 39 -31 -7 -62 -11 -70 -8 -25 10 -36 75 -23 136 15 77 58 130 152 192 69 45 77 53 77 83 1 17 -2 32 -6 32 -5 0 -45 -18 -91 -40z'/></g></svg>");
	background-repeat:no-repeat;
	background-position:center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin:0 auto 15px;
	opacity:.5;
}

.kGboHB .testimonial-box .testimonial-content p{
	font-size:1.4rem;
	color:var(--txtColorC);
	margin:0 0 20px;
}

.kGboHB .testimonial-box .testimonial-content span{
	font-size:0.8rem;
	color:var(--txtColorC);
	margin:0;
	padding:0;
	position:relative
}

.kGboHB .owl-dots{
	margin:0;
	display:block;
	text-align:center
}

.kGboHB .owl-dot{
	margin:0 4px;
	height:20px;
	width:12px;
}
	
.kGboHB .owl-dot span{
	display: block;
	box-sizing: border-box;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: rgba(255, 255, 255, .5);
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	transition: opacity .4s ease-out;
}

.kGboHB .owl-dot.active span{
	background: rgba(255, 255, 255, 1);
}












